@tailwind base;
@tailwind components;
@tailwind utilities;

#congeAppMain {
  @apply flex flex-col items-center min-h-screen bg-gray-100 font-sans;
}

.alert-success, .alert-error {
  @apply w-full max-w-4xl mx-auto my-4 p-4 rounded-lg text-center;
}

.alert-success {
  @apply bg-green-100 text-green-800;
}

.alert-error {
  @apply bg-red-100 text-red-800;
}